.contacto {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(140, 38, 38));
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
  color: rgb(217, 215, 215);
}
