.conoce-mas {
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(164, 38, 38));
  background-size: 100%;
  background-repeat: no-repeat;
}
.ir-a-videos {
  text-align: center;
}
