.conoce-mas {
  text-align: center;
  justify-content: center;
  background-image: url(../images/arnold.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.ir-a-videos {
  text-align: center;
}
