main {
  background-color: black;
  color: white;
}

.fondo-hero {
  background-image: url(images/7e4146633012af92176d16bcf87b1896.jpg);
}
iframe.video-principal {
  align-self: center;
  padding: 0px;
  margin-left: 100px;
}
@media (max-width: 720px) {
  iframe.video-principal {
    margin: 25px;
  }
}

li.nav-item {
  padding-left: 30px;
}
a {
  text-decoration: none;
}

.mitad-de-pagina {
  text-align: center;
}

.primeros-videos {
  background-color: rgb(186, 186, 186);
  color: black;
}
img {
  align-items: center;
  margin-left: 15px;
}
.video {
  align-items: center;
}
.mas-videos {
  margin: 100px;
}

/* Sobre nosotros */

.conoce-mas {
  text-align: center;
  justify-content: center;
  background-image: url(images/arnold.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.ir-a-videos {
  text-align: center;
}

/* Videos */

.body-videos {
  background-color: black;
  color: white;
}
